<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Backbone Marionette Application</title>
    {% stylesheets
        '@PlayzonePlayzoneBundle/Resources/public/css/base.css'
    %}
    <link rel="stylesheet" media="all" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>

<section id="todoapp">
    <header id="header">
        <h1>todos</h1>
        <input id="new-todo" placeholder="What needs to be done?" autofocus>
    </header>
    <section id="main">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list"></ul>
    </section>
    <footer id="footer"></footer>
</section>
<div id="info">
    <p>Double-click to edit a todo</p>
    <p>Written by <a href="https://github.com/addyosmani">Addy Osmani</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</div>

<script type="text/template" id="item-template">
    <div class="view">
        <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
        <label><%= title %></label>
        <button class="destroy"></button>
    </div>
    <input class="edit" value="<%= title %>">
</script>

<script type="text/template" id="stats-template">
    <span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
    <ul id="filters">
        <li>
            <a class="selected" href="#/">All</a>
        </li>
        <li>
            <a href="#/active">Active</a>
        </li>
        <li>
            <a href="#/completed">Completed</a>
        </li>
    </ul>
    <% if (completed) { %>
    <button id="clear-completed">Clear completed (<%= completed %>)</button>
    <% } %>
</script>

{% block javascript %}

    {% javascripts
    '../components/jquery/jquery.js'
    '../components/underscore/underscore.js'
    '../components/backbone/backbone.js'
    '../components/backbone.babysitter/backbone.babysitter.js'
    '../components/backbone.wreqr/backbone.wreqr.js'
    '../components/backbone.marionette/backbone.marionette.js'
    '@PlayzonePlayzoneBundle/Resources/public/js/lib/*'
    '@PlayzonePlayzoneBundle/Resources/public/js/models/*'
    '@PlayzonePlayzoneBundle/Resources/public/js/collections/*'
    '@PlayzonePlayzoneBundle/Resources/public/js/views/*'
    '@PlayzonePlayzoneBundle/Resources/public/js/routers/*'
    '@PlayzonePlayzoneBundle/Resources/public/js/*'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
</body>
</html>