<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Backbone Marionette Application</title>
</head>
<body>

<script type="text/html" id="my-view-template">
    <div class="row">
        <label>First Name:</label>
        <span><%= firstName %></span>
    </div>
    <div class="row">
        <label>Last Name:</label>
        <span><%= lastName %></span>
    </div>
    <div class="row">
        <label>Email:</label>
        <span><%= email %></span>
    </div>
</script>


{% block javascript %}

    {% javascripts
    '../components/jquery/jquery.js'
    '../components/underscore/underscore.js'
    '../components/backbone/backbone.js'
    '../components/backbone.babysitter/backbone.babysitter.js'
    '../components/backbone.wreqr/backbone.wreqr.js'
    '../components/backbone.marionette/backbone.marionette.js'
    '@PlayzoneMarionetteBundle/Resources/public/js/app.js'
    '@PlayzoneMarionetteBundle/Resources/public/js/person.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
</body>
</html>